{% extends 'index.html' %} 

{% block content %}
    <div class="justify-between  items-center bg-slate-700 border rounded-3xl mt-20 h-96 w-2/6 mx-auto">
        <ul class=" text-white text-3xl font-Quicksand w-5/6 mx-auto">
            <li class="mt-10 text-center ">Ricardo Lopez Ortiz</li>
            <li class="mt-10 text-center">Gerardo Calderon Palma</li>
            <li class="mt-10 text-center">Jesus Israel Vargas Marcelino</li>
            <li class="mt-10 text-center">Diego Jesus Calixto Francisco</li>
        </ul>
    </div>
{% endblock %}